<title>Cradle Meet</title>
<meta property="og:title" content="Cradle Meet"/>
<meta property="og:image" content="images/jitsilogo.png?v=1"/>
<meta property="og:description" content="Join a WebRTC video conference powered by the CradleVideobridge"/>
<meta description="Join a WebRTC video conference powered by the CradleVideobridge"/>
<meta itemprop="name" content="Cradle Meet"/>
<meta itemprop="description" content="Join a WebRTC video conference powered by the CradleVideobridge"/>
<meta itemprop="image" content="images/jitsilogo.png?v=1"/>
<link rel="icon" type="image/png" href="images/favicon.ico?v=1"/>
